doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
      a(href='/logout')= __i('Logout')
    div#content
      block content
    div#footer